<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Network.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Network.Properties.Settings>
            <setting name="BROADCAST_PORT" serializeAs="String">
                <value>41853</value>
            </setting>
            <setting name="TCP_PORT" serializeAs="String">
                <value>41854</value>
            </setting>
            <setting name="UDP_PORT" serializeAs="String">
                <value>41855</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Network.Properties.Settings>
    </userSettings>
</configuration>